<h2>Current games</h2> 

<table>
  <tr>
    <th>Name</th>
    <th>Player 1</th>
    <th>Player 2</th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= link_to game.name, game %></td>
    <td><%= link_to game.player1.try(:name), game.player1 %></td>
    <td><%= link_to game.player2.try(:name), game.player2 %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
  </tr>
<% end %>
</table>

