body {
  background-color: #eee;
} 

#container {
  width: 980px;
  margin: 0 auto;
}

#logo a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 200%;
  text-transform: uppercase;
}

nav ul {


}

nav li {
  display: inline;
  padding: 20px;

}

#game_container {
  padding-top: 5px;
  text-align: center;
  width: 320px;
  height: 320px;
}

#game_square {
  background-color: white;
  display: inline-block;
  width: 100px;
  height: 100px;
}