body {
  background-color: #eee;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
} 

#container {
  width: 960px;
  margin: 0 auto;
  /*border: 1px solid black;*/
}

/*Logo and nav bar*/

#logo {
  width: 212px;
  display: inline-block;
}

#logo a {
  color: #343642;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 300%;
  text-transform: uppercase;
}

#logo a:hover {
  color: #FFFFFF;
}

#navigation {
  width: 700px;
  display: inline-block;
  float: right;
  text-align: right;
}

#navigation ul {
}

#navigation li {
  background-color: #FFFFFF;
  display: inline;
  padding: 20px;
}

#navigation a {
  color: #343642;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

#navigation #add a {
  color: #EA2E49;
  font-weight: 800;
}

#login {
  width: 700px;
  display: inline-block;
  float: right;
  text-align: right;
  margin-top: 5px;
}

#login li {
  display: inline;
  padding-left: 10px;
}

.login {
  width: 160px;
  height: 20px;
}

.login_button {
  width: 80px;
  height: 26px;
  border: none;
  background-color: #EA2E49;
}

/*Content*/

#content {
  margin-top: 70px;
}

#sample_game {
  display: inline-block;
  text-align: center;
  width: 400px;
  height: 400px;
}

.sample_game_field {
  margin-bottom: 4px;
  background-color: white;
  display: inline-block;
  width: 128px;
  height: 128px;
}

.xo {
  font-family: serif;
  color: #eee;
  font-size: 720%;
  background-color: white;
  display: inline-block;
  width: 128px;
  height: 128px;
}

/*Sign up form*/

#sign_up_form {
  display: inline-block;
  margin-left: 120px;
}

.signup_button {
  width: 160px;
  height: 32px;
  border: none;
  background-color: #EA2E49;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: #343642;
}

#tagline {
  font-size: 120%;
}

.greeting {
  float: right;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  color: #343642;
}

/*Forms*/

label {
  font-family: 'Open Sans', sans-serif;
}

input {
  font-size: 90%;
  height: 30px;
  width: 300px;
  margin-bottom: 22px;
  padding-left: 10px;

}

/*Game board*/

#game_container {
  padding-top: 5px;
  text-align: center;
  width: 320px;
  height: 320px;
}

.game_square {
  background-color: white;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.game_button {
  width: 100px;
  height: 100px;
}

#current {
  vertical-align: top;
  width: 50%;
  display: inline-block;
}

#finished {
  width: 40%;
  display: inline-block;
}

#finished a {
  text-decoration: none;
  color: #343642;
}

#current a {
  text-decoration: none;
  color: #343642;
}

.game_name {
  width: 140px;
  margin: 20px 0 10px 0;
}

.game_player1_name {
  display: inline-block;
  width: 60px;
}

.game_player2_name {
  display: inline-block;
  width: 60px;
}









