body {
  background-color: #eee;
  margin: 0;
} 

#container {
  width: 980px;
  margin: 0 auto;
}

#logo {
  width: 200px;
  display: inline-block;
}

#logo a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 200%;
  text-transform: uppercase;
}

#nav {
  width: 300px;
  display: inline-block;
  float: right;
  text-align: right;
}

#nav ul {
}

#nav li {
  background-color: #FFFFFF;
  display: inline;
  padding: 20px;
}

#nav a {
  text-decoration: none;
}

#game_container {
  padding-top: 5px;
  text-align: center;
  width: 320px;
  height: 320px;
}

#game_square {
  background-color: white;
  display: inline-block;
  width: 100px;
  height: 100px;
}